/* mobile  */

@media (max-width: 576px) {
	.flex-form {
		flex-direction: column;
	}
	.line {
		margin: 50px 0;
		height: 2px;
		width: 100%;
	}
	.main .logo {
		font-size: 17px;
	}
	.main {
		margin-top: 30px;
	}
	.main p {
		margin: 30px 0 25px 0;
	}
	.main .logo {
		line-height: 1.6;
	}
	nav .logo {
		text-align: center;
		font-size: 13px;
	}
	.links {
		display: none;
	}
	.about-content {
		flex-wrap: wrap;
		justify-content: center;
	}
	.about-inner {
		width: 100%;
	}

	.about-img {
		width: 100%;
		margin: 0 auto;
	}
	footer .logo {
		width: 100%;
		margin: 42px 0;
		text-align: center;
	}

	footer p {
		text-align: center;
		margin: 42px auto 0 auto;
	}
	form input {
		width: 100%;
	}
	.title-section {
		font-size: 20px;
	}
	.menu {
		width: 100%;
	}
	.drop-menu {
		width: 100%;
	}
}

/* Small */

@media (min-width: 577px) and (max-width: 768px) {
	.main {
		margin-top: 30px;
	}
	.flex-form {
		flex-direction: column;
	}
	.line {
		margin: 50px 0;
		height: 2px;
		width: 100%;
	}
	.links {
		display: none;
	}
	nav .links li {
		margin: auto;
	}

	.main span {
		margin-top: 10px;
	}
	.main {
		width: 500px;
	}
	.championships-content {
		flex-wrap: wrap;
		justify-content: center;
	}

	.championships-inner {
		width: 20em;
	}

	.overlay-logo {
		width: 230px;
	}
	.about-content {
		flex-wrap: wrap;
	}
	.about-inner {
		width: 100%;
	}

	.about-img {
		width: 60%;
		margin: 0 auto;
	}
	.footer-content {
		flex-wrap: wrap;
	}
	.footer-content p {
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}
	.questions {
		margin: 20px auto 20px auto;
		width: 300px;
	}
	.about-inner h3 {
		text-align: center;
	}
}
/* Medium */

@media (min-width: 769px) and (max-width: 992px) {
	.main {
		margin-top: 30px;
	}
	.main span {
		margin-top: 10px;
	}
	.main {
		width: 500px;
	}
	.championships-content {
		flex-wrap: wrap;
		justify-content: center;
	}

	.championships-inner {
		width: 20em;
	}

	.overlay-logo {
		width: 230px;
	}
	.about-content {
		flex-wrap: wrap;
	}
	.about-inner {
		width: 100%;
	}

	.about-img {
		width: 50%;
		margin: 0 auto;
	}
	.footer-content {
		flex-wrap: wrap;
	}
	.footer-content p {
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}
	.questions {
		margin: 20px auto 20px auto;
		width: 300px;
	}
	.about-inner h3 {
		text-align: center;
	}
	.menu-btn {
		display: none;
	}
	.link-side-menu {
		display: none;
	}
}
/* large */

@media (min-width: 993px) and (max-width: 1199px) {
	.overlay-logo {
		width: 200px;
	}
	.championships-inner {
		width: 30%;
	}
	.menu-btn {
		display: none;
	}
	.link-side-menu {
		display: none;
	}
}

/* extra large */
@media (min-width: 1200px) {
	.menu-btn {
		display: none;
	}
	.link-side-menu {
		display: none;
	}
}
