<!DOCTYPE html>
{% load static %} {% load compress %}

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link rel="stylesheet" href="{% static 'css/pacfont.css' %}" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap"
		/>

		{% compress css %}
		<link rel="stylesheet" href="{% static 'css/output.css' %}" />
		{% endcompress %}

		<title>Document</title>
	</head>
	<body>
		<!-- start nav section -->

		{% include 'components/nav.html' %}

		<!-- start content -->

		{% block content %} {% endblock content %}

		<!-- start footer section -->

		{% include 'components/footer.html' %}

		<script src="{% static 'js/main.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
	</body>
</html>
