<!DOCTYPE html>
{% load static %}
 
{% load compress %}

<html lang="en">
	
    <head>
	
        <meta name="descrition" content="dd" />

	
        <meta charset="UTF-8" />

	
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	
        <link rel="stylesheet" href="{% static 'css/pacfont.css' %}" />

	
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" />

	
        {% compress css %}

	
            <link rel="stylesheet" href="{% static 'css/output.css' %}" />

	
        {% endcompress %}

        <title>Challenge Me</title>
	
    </head>

	
    <body>
        <!-- start nav section -->

	
        {% include "components/nav.html" %}

        <!-- start content -->

	
        {% block content %}
 
        {% endblock content %}

        <!-- start footer section -->

	
        {% include "components/footer.html" %}

        <!-- start loading section -->

	
        {% include "components/loading.html" %}
        <script src="{% static 'js/flowbite.min.js' %}"></script>

        {% comment %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
        {% endcomment %}
	
    </body>
</html>
