{% extends "base.html"%} {% load static %} {% block content %}

<!-- start header section -->
{% include 'components/header.html' %}

<!-- start tournaments-section -->
<section class="bg-maincolor py-28" id="tournaments">
	<div class="container">
		<h2 class="title-section">tournaments</h2>
		<div
			class="grid justify-center grid-cols-[repeat(1,_minmax(0,_300px))] sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
			id="tournaments"
		>
			{% for game in add_game %}
			<div
				class="relative w-full max-sm:m-auto h-[500px] rounded-2xl"
			>
				<a href="{%url 'tournaments' game.name|slugify %}">
					<div class="absolute w-full h-full">
						<img
							class="object-cover w-full h-full rounded-2xl"
							src="{{ game.photo_game.url }}"
							alt="{{ game.name }}"
						/>
					</div>
					<div
						class="overlay absolute w-full h-full bg-secondarycolor bg-opacity-70 rounded-2xl"
					>
						<div
							class="overlay-logo absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 max-w-lg w-52"
						>
							<img src="{{ game.logo_game.url }}" />
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<!-- start subscription section -->
<section class="subscription py-28" id="subscription">
	<div class="container">
		<h2 class="title-section">subscription</h2>

		<div class="lg:flex lg:justify-evenly lg:flex-row flex flex-col">
			<form
				action="{%url 'sign_in'%}"
				class="flex flex-col lg:w-1/2 w-full lg:px-16 p-0"
				method="post"
			>
				{% csrf_token %}
				<h3 class="text-2xl mb-10 text-center">Sign Up</h3>

				{% if messages %} {% for message in messages %}

				<div
					id="toast-default"
					class="flex items-center mb-8 w-full p-4 text-{{message.tags}}-500 bg-{{message.tags}}-50 rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
					role="alert"
				>
					<div
						class="ml-3 text-sm font-normal text-{{message.tags}}-800"
					>
						{{message|safe}}
					</div>
					<button
						type="button"
						class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
						data-dismiss-target="#toast-default"
						aria-label="Close"
					>
						<span class="sr-only">Close</span>
						<svg
							class="w-3 h-3"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 14 14"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
							/>
						</svg>
					</button>
				</div>

				{% endfor %} {% endif %}

				<div class="mb-6">
					<label
						for="username"
						class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
						>Username</label
					>
					<input
						type="text"
						name="username"
						id="username"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-maincolor focus:border-maincolor block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-maincolor dark:focus:border-maincolor"
						placeholder="John"
						required
					/>
				</div>
				<div class="mb-6">
					<label
						for="email"
						class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
						>Email address</label
					>
					<input
						type="email"
						name="email"
						id="email"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-maincolor focus:border-maincolor block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-maincolor dark:focus:border-maincolor"
						placeholder="john.doe@company.com"
						required
					/>
				</div>
				<div class="mb-6">
					<label
						for="password"
						class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
						>Password</label
					>
					<input
						type="password"
						name="password"
						id="password"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-maincolor focus:border-maincolor block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-maincolor dark:focus:border-maincolor"
						placeholder="•••••••••"
						required
					/>
				</div>
				<div>
					<label
						for="password"
						class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
						>Confirm Password</label
					>
					<input
						type="password"
						name="confirm_password"
						id="confirm password"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-maincolor focus:border-maincolor block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-maincolor dark:focus:border-maincolor"
						placeholder="•••••••••"
						required
					/>
				</div>
				<button class="button capitalize text-white">
					send
				</button>
			</form>
			{% if not user.is_authenticated %}

			<div
				class="lg:w-[2px] lg:m-0 max-lg:h-[2px] my-14 relative bg-maincolor"
			>
				<div class="or">or</div>
			</div>
			<form
				class="flex flex-col lg:w-1/2 w-full lg:px-16 p-0"
				method="post"
				action="{% url 'login'%}"
			>
				{% csrf_token %}
				<h3 class="text-2xl mb-10 text-center">Login</h3>
				{% if messages %} {% for message in messages %}

				<div
					id="toast-default"
					class="flex items-center mb-8 w-full p-4 text-{{message.tags}}-500 bg-{{message.tags}}-50 rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
					role="alert"
				>
					<div
						class="ml-3 text-sm font-normal text-{{message.tags}}-800"
					>
						{{message|safe}}
					</div>
					<button
						type="button"
						class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
						data-dismiss-target="#toast-default"
						aria-label="Close"
					>
						<span class="sr-only">Close</span>
						<svg
							class="w-3 h-3"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 14 14"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
							/>
						</svg>
					</button>
				</div>

				{% endfor %} {% endif %}
				<div class="mb-6">
					<label
						for="username"
						class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
						>Username</label
					>
					<input
						type="text"
						id="username"
						name="username"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-maincolor focus:border-maincolor block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-maincolor dark:focus:border-maincolor"
						placeholder="John"
						required
					/>
				</div>
				<div>
					<label
						for="password"
						class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
						>Password</label
					>
					<input
						type="password"
						name="password"
						id="password"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-maincolor focus:border-maincolor block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-maincolor dark:focus:border-maincolor"
						placeholder="•••••••••"
						required
					/>
				</div>
				<button class="button capitalize text-white">
					send
				</button>
			</form>

			{% endif %}
		</div>
	</div>
</section>

<!-- start about section -->
<section class="about py-28 bg-maincolor" id="about">
	<div class="container">
		<h2 class="title-section">about</h2>
		<div
			class="about-content flex flex-col justify-between lg:flex-row gap-8"
		>
			<div class="about-inner w-full">
				<h3>frequently asked questions about our site</h3>
				<div class="questions mb-8">
					<h4 class="flex justify-between">
						Frequently Asked Question one
						<svg
							class="w-6 h-6 text-gray-800 dark:text-white"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 10 14"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M5 1v12m0 0 4-4m-4 4L1 9"
							/>
						</svg>
					</h4>
					<p class="max-w-lg">
						Quia iusto hic ipsam assumenda itaque
						exercitationem debitis sapiente, inventore
						nemo molestiae Quia iusto hic ipsam
						assumenda itaque exercitationem debitis
						sapiente, inventore nemo molestiae
					</p>
				</div>
				<div class="questions mb-8">
					<h4 class="flex justify-between">
						Frequently Asked Question two
						<svg
							class="w-6 h-6 text-gray-800 dark:text-white"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 10 14"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M5 1v12m0 0 4-4m-4 4L1 9"
							/>
						</svg>
					</h4>
					<p class="max-w-lg">
						Quia iusto hic ipsam assumenda itaque
						exercitationem debitis sapiente, inventore
						nemo molestiae Quia iusto hic ipsam
						assumenda itaque exercitationem debitis
						sapiente, inventore nemo molestiae
					</p>
				</div>
				<div class="questions mb-8">
					<h4 class="flex justify-between">
						Frequently Asked Question three
						<svg
							class="w-6 h-6 text-gray-800 dark:text-white"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 10 14"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M5 1v12m0 0 4-4m-4 4L1 9"
							/>
						</svg>
					</h4>
					<p class="max-w-lg">
						Quia iusto hic ipsam assumenda itaque
						exercitationem debitis sapiente, inventore
						nemo molestiae Quia iusto hic ipsam
						assumenda itaque exercitationem debitis
						sapiente, inventore nemo molestiae
					</p>
				</div>
				<div class="questions mb-8">
					<h4 class="flex justify-between">
						Frequently Asked Question four
						<svg
							class="w-6 h-6 text-gray-800 dark:text-white"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 10 14"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M5 1v12m0 0 4-4m-4 4L1 9"
							/>
						</svg>
					</h4>
					<p class="max-w-lg">
						Quia iusto hic ipsam assumenda itaque
						exercitationem debitis sapiente, inventore
						nemo molestiae Quia iusto hic ipsam
						assumenda itaque exercitationem debitis
						sapiente, inventore nemo molestiae
					</p>
				</div>
				<div class="questions mb-8">
					<h4 class="flex justify-between">
						Frequently Asked Question five
						<svg
							class="w-6 h-6 text-gray-800 dark:text-white"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 10 14"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M5 1v12m0 0 4-4m-4 4L1 9"
							/>
						</svg>
					</h4>
					<p class="max-w-lg">
						Quia iusto hic ipsam assumenda itaque
						exercitationem debitis sapiente, inventore
						nemo molestiae Quia iusto hic ipsam
						assumenda itaque exercitationem debitis
						sapiente, inventore nemo molestiae
					</p>
				</div>
			</div>
			<div class="about-img w-full rounded-3xl">
				<img
					class="rounded-3xl"
					src="{% static 'images/about-img.jpg' %}"
					alt=""
				/>
			</div>
		</div>
	</div>
</section>
<script src="{% static 'js/main.js' %}"></script>

{% endblock content %}
