{% extends "base.html" %}
{% load static %}
{% block content %}
    {# djlint:off H006 #}
    <header class="w-full bg-top bg-cover relative"
            x-data="{image:'{{ game.photo_game }}' ? 'https://res.cloudinary.com/dnru0whph/image/upload/v1749458688/{{ game.photo_game }}' : '{{ game.photo_game_url }}' }"
            :style="`background-image: url(${image})`">
        <div class="overlay w-full h-full bg-secondarycolor bg-opacity-50">
            <section class="about p-8 w-full">
                <div class="container">
                    <div class="flex justify-center items-center">
                        {% comment %} <img class="object-cover sm:w-[300px] sm:h-[300px]"
      src="{{ game.logo_game.url }}"
      alt="" /> {% endcomment %}
                        {% if game.logo_game %}
                            <img class="object-cover sm:w-[300px] sm:h-[300px]"
                                 src="{{ game.logo_game.url }}"
                                 alt="{{ game.name }}" />
                        {% else %}
                            <img class="object-cover sm:w-[300px] sm:h-[300px]"
                                 src="{{ game.logo_game_url }}"
                                 alt="{{ game.name }}">
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </header>
    <section class="py-28">
        <div class="container">
            <div class="grid lg:grid-cols-3 xl:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4">
                {% for tournament in tournaments %}
                    <div class="max-w-sm m-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <img class="rounded-t-lg" src="{{ tournament.photo_game.url }}" alt="" />
                        <div class="p-5">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                {{ tournament.title|cut:"-"|striptags }}
                            </h5>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                                Here are the biggest enterprise technology
                                acquisitions of 2021 so far, in reverse
                                chronological order.
                            </p>
                            <a href="{% url 'tournament_details' slug=tournament.title|slugify %}"
                               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-maincolor rounded-lg hover:bg-secondarycolor focus:ring-4 focus:outline-none focus:ring-thirdcolor dark:bg-blue-600 dark:hover:bg-maincolor dark:focus:ring-secbg-secondarycolor">
                                Read more
                                <svg class="w-3.5 h-3.5 ml-2"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                                </svg>
                            </a>
                        </div>
                    </div>
                {% empty %}
                    <h1 class="tournaments text-2xl">
                        No tournaments
                        <a class="text-maincolor underline capitalize"
                           href="{% url 'game_list' %}">choose tournament</a>
                    </h1>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}
