{% extends "base.html" %} {% load static tailwind_tags %}  
{% load static %}
<!---->
{# djlint:off H006 #} {% block content %}
<header
  class="w-full bg-top bg-cover relative"
  x-data="{image:'{{ tournament.photo_game }}' ? 'https://res.cloudinary.com/dnru0whph/image/upload/v1749458688/{{ tournament.photo_game }}' : ('{{ tournament.game.photo_game_url }}', 'https://res.cloudinary.com/dnru0whph/image/upload/v1749458914/media/challenge/challenge_me.png') }"
  :style="`background-image: url(${image})`"
>
  <div class="overlay w-full h-full bg-secondarycolor bg-opacity-50">
    <section class="about p-8 w-full">
      <div class="container">
        <div class="flex justify-center items-center">
          
          {% if tournament.game.logo_game %}
            <img class="object-cover sm:w-[300px] sm:h-[300px]"
                src="{{ tournament.game.logo_game.url }}"
                alt="{{ tournament.game.name }}" />
              {% elif tournament.game.logo_game_url %}
                <img  class="object-cover sm:w-[300px] sm:h-[300px]"
                src="{{ tournament.game.logo_game_url }}"
                alt="{{ tournament.game.name }}">
              {% else %}
                  <img class="object-cover sm:w-[300px] sm:h-[300px]"
                src="https://res.cloudinary.com/dnru0whph/image/upload/v1749458914/media/challenge/challenge_me.png"
                alt="{{ tournament.game.name }}" />
            {% endif %}
        </div>
      </div>
    </section>
  </div>
</header>
<section
  class="py-28 relative"
  id="info"
  x-data="{max:{{tournament.max_participants}},
            players:{{players.count}}}"
>
  <div class="container">
    {% if message == "max participants" %}
        <div
        class="text-white bg-maincolor w-full max-w-[200px] capitalize block font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" >
        max participants
        </div>
        {% else %}
        <button
            id="join"

        hx-post="{% url 'join' tournament.title|slugify %}"
        hx-target=".flow-root"
        hx-indicator="#loading"
        class="text-white bg-maincolor w-full max-w-[200px] capitalize block font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">{{message}}</button>
   
    {% endif %}

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 relative">
      {% include 'components/loading.html' %}

      <div class="w-full p-4 bg-white shadow-gray-200 rounded-lg shadow sm:p-8">
        <h5 class="text-xl mb-4 font-bold leading-none text-gray-900">
          Tournament Participants
        </h5>
        <div class="flow-root">
          <ul role="list" id="players">
            {% for player in players %}
            <li id="player" class="py-3 sm:py-4">
              <div class="flex items-center space-x-4">
                <div class="flex-shrink-0">
                  <svg
                    class="w-6 h-6 text-gray-800"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 14 18"
                  >
                    <path
                      d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"
                    />
                  </svg>
                </div>
                <div class="flex-1 min-w-0">
                  <p class="text-sm font-medium text-gray-900 truncate">
                    {{ player.name }}
                  </p>
                </div>
              </div>
            </li>
            {% empty %}
            <h3>no subs</h3>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div
        id="tabs"
        class="w-full bg-white shadow shadow-gray-200 rounded-lg max-h-[500px]"
        x-data="{tabs: 'description'}"
      >
        <ul
          class="capitalize text-md font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg sm:flex"
          id="fullWidthTab"
          role="tablist"
        >
          <li class="w-full">
            <button
              @click="tabs='description' "
              class="inline-block w-full hover:text-gray-500 target:text-maincolor focus:text-maincolor text-gray-600 p-4 rounded-tl-lg bg-gray-50 hover:bg-gray-100 focus:outline-none"
            >
              Description
            </button>
          </li>
          <li class="w-full">
            <button
              @click="tabs='prizes'"
              class="inline-block hover:text-gray-500 focus:text-maincolor text-gray-600 w-full p-4 bg-gray-50 hover:bg-gray-100 focus:outline-none"
            >
              Prizes
            </button>
          </li>
          {% if user.username in playersList %}
          <li class="w-full" id="notes">
            <button
              @click="tabs='notes'"
              class="inline-block hover:text-gray-500 focus:text-maincolor text-gray-600 w-full p-4 rounded-tr-lg bg-gray-50 hover:bg-gray-100 focus:outline-none"
            >
              Notes
            </button>
          </li>
          {% endif %}
        </ul>
        <div id="fullWidthTabContent" class="shadow-t shadow-gray-200" x-cloak>
          <div
            class="p-4 bg-white rounded-lg md:p-8"
            x-show="tabs==='description'"
          >
            {{ tournament.description|linebreaksbr  }}
          </div>
          <div class="p-4 bg-white rounded-lg md:p-8" x-show="tabs==='prizes'">
            {{ tournament.prizes|linebreaksbr }}
          </div>
          <div class="p-4 bg-white rounded-lg md:p-8" x-show="tabs==='notes'">
            {{ tournament.notes|linebreaksbr }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
