{% load static %}
<header class="relative h-screen bg-secondarycolor bg-opacity-70">
	<video
		loop
		autoplay
		muted
		class="w-full h-screen object-cover absolute -z-10"
	>
		<source
			src="https://vod-progressive.akamaized.net/exp=1696592151~acl=%2Fvimeo-prod-skyfire-std-us%2F01%2F4895%2F16%2F424479312%2F1837680571.mp4~hmac=d0b7b3050056176072aa8f5ce6219d731e66eb3023e7e5fd0fd8dd44d55ffee4/vimeo-prod-skyfire-std-us/01/4895/16/424479312/1837680571.mp4?download=1&filename=production_id%3A4523108+%28540p%29.mp4"
			type="video/mp4"
		/>
	</video>
	<div class="container">
		<div
			class="text-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
		>
			<h1 class="mb-8 text-3xl text-secondarycolor capitalize">welcome to</h1>
			<div class="text-3xl logo">challenge <span>me</span></div>
			<p class="my-8 text-white">
				dolor sit amet consectetur adipisicing elit Aperiam voluptatum
			</p>
			<a
				href="/#tournaments"
				class="button text-secondarycolor hover:bg-transparent hover:border-secondarycolor transition-colors hover:text-white"
				>start now</a
			>
		</div>
	</div>
</header>
