<nav class="bg-maincolor border-gray-200 dark:bg-secondarycolor">
	<div class="container">
		<div
			class="max-w-screen-xl flex flex-wrap items-center max-sm:flex-col max-sm:justify-center justify-between mx-auto p-4"
		>
			<a href="/" class="flex items-center">
				<div class="text-xl text-center logo max-sm:mb-4">
					challenge <span>me</span>
				</div>
			</a>

			<div class="flex items-center lg:order-3">
				{% if user.is_authenticated%}

				<button
					type="button"
					class="flex mr-3 text-sm bg-gray-800 rounded-full lg:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
					id="user-menu-button"
					data-dropdown-toggle="user-dropdown"
				>
					<span class="sr-only">Open user menu</span>
					<img
						class="w-8 h-8 rounded-full object-cover"
						src="https://placehold.co/600x400"
						alt="user photo"
					/>
				</button>
				<!-- Dropdown menu -->
				<div
					class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
					id="user-dropdown"
				>
					<div class="px-4 py-3">
						<span class="block text-sm text-gray-900 dark:text-white"
							>{{user.username}}</span
						>
						<span
							class="block text-sm text-gray-500 truncate dark:text-gray-400"
							>{{user.email }}</span
						>
					</div>
					<ul class="py-2">
						<li>
							<a
								href="#"
								class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
								><div>Settings</div></a
							>
						</li>

						<li>
							<a
								href="{% url 'logout'%}"
								class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
								><div>Sign out</div></a
							>
						</li>
					</ul>
				</div>
				{% else %}
				<li class="list-none">
					<a
						href="/#subscription"
						class="block border-secondarycolor border mr-4 p-2 text-secondarycolor bg-maincolor rounded lg:bg-transparent lg:dark:text-blue-500"
						aria-current="page"
						>Login</a
					>
				</li>
				{% endif %}
				<button
					id="navbar-btn"
					type="button"
					class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-secondarycolor rounded-lg lg:hidden hover:bg-[#f1faee] focus:outline-none focus:ring-2 focus:ring-[#f1faee] dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
				>
					<span class="sr-only">Open main menu</span>
					<svg
						class="w-5 h-5"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 17 14"
					>
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M1 1h15M1 7h15M1 13h15"
						/>
					</svg>
				</button>
			</div>

			<div
				class="items-center hidden justify-between w-full lg:flex lg:w-auto lg:order-2"
				id="navbar-user"
			>
				<ul
					class="flex flex-col mt-4 font-medium p-4 lg:p-0 border border-gray-100 rounded-lg bg-[#f1faee] lg:flex-row lg:space-x-8 lg:mt-0 lg:border-0 lg:bg-transparent dark:bg-gray-800 lg:dark:bg-gray-900 dark:border-gray-700"
				>
					<li>
						<a
							href="{%url 'home'%}"
							class="block py-2 pl-3 pr-4 text-secondarycolor bg-maincolor rounded lg:bg-transparent lg:p-0 lg:dark:text-blue-500"
							aria-current="page"
							><div>Home</div></a
						>
					</li>

					<li>
						<a
							href="/#tournaments"
							class="block py-2 pl-3 pr-4 text-secondarycolor rounded hover:bg-gray-100 lg:hover:bg-transparent lg:p-0 dark:text-white lg:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
							><div>Tournaments</div></a
						>
					</li>

					<li>
						<a
							href="/#subscription"
							class="block py-2 pl-3 pr-4 text-secondarycolor rounded hover:bg-gray-100 lg:hover:bg-transparent lg:p-0 dark:text-white lg:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
							><div>Subscription</div></a
						>
					</li>
					<li>
						<a
							href="/#about"
							class="block py-2 pl-3 pr-4 text-secondarycolor rounded hover:bg-gray-100 lg:hover:bg-transparent lg:p-0 dark:text-white lg:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
							><div>About</div></a
						>
					</li>
					<li>
						<a
							href="#"
							class="block py-2 pl-3 pr-4 text-secondarycolor rounded hover:bg-gray-100 lg:hover:bg-transparent lg:p-0 dark:text-white lg:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
							><div>About</div></a
						>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>

<script>
	document.querySelector("#navbar-btn").addEventListener("click", () => {
		document.querySelector("#navbar-user").classList.toggle("hidden");
	});

	document.querySelector("#user-menu-button").addEventListener("click", () => {
		document.querySelector("#user-dropdown").classList.toggle("hidden");
	});
	// export function initFlowbite() {
	// 	initDropdowns();
	// }
</script>
